<a href="https://colab.research.google.com/github/ThiagoVenturim/studying_python_data/blob/main/Alura/AluraAula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

df.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
linhas, colunas = df.shape # passar as informações do shape para as variaveis
print(f"O dataframe possui {linhas} linhas e {colunas} colunas.")

O dataframe possui 133349 linhas e 11 colunas.

In [ ]:
df.columns #verificar o nome das colunas

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
renomear ={ #criei um dicionario para traduzir
    'work_year': 'ano_de_trabalho',
    'experience_level': 'nível_de_experiência',
    'employment_type': 'tipo_de_emprego',
    'job_title': 'cargo_profissional',
    'salary': 'salário',
    'salary_currency': 'moeda_do_salário',
    'salary_in_usd': 'salário_em_usd',
    'employee_residence': 'residência_do_funcionário',
    'remote_ratio': 'proporção_remota',
    'company_location': 'local_da_empresa',
    'company_size': 'porte_da_empresa'
    }

df.rename(columns=renomear, inplace=True) #usei o rename para renomear
df.columns

Index(['ano_de_trabalho', 'nível_de_experiência', 'tipo_de_emprego',
       'cargo_profissional', 'salário', 'moeda_do_salário', 'salário_em_usd',
       'residência_do_funcionário', 'proporção_remota', 'local_da_empresa',
       'porte_da_empresa'],
      dtype='object')

In [ ]:
df["nível_de_experiência"].value_counts()

nível_de_experiência
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df["tipo_de_emprego"].value_counts()

tipo_de_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
df["proporção_remota"].value_counts()

proporção_remota
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
remoto = {
    0: "Remoto",
    50: "Semi-Remoto",
    100: "Presencial"
}
df["proporção_remota"] = df["proporção_remota"].map(remoto)
df["proporção_remota"].value_counts()

proporção_remota
Remoto         105312
Presencial      27718
Semi-Remoto       319
Name: count, dtype: int64

In [ ]:
senioridade = {
    "EN": "Junior",
    "MI": "Pleno",
    "SE": "Sênior",
    "EX": "Executivo"
}
df["nível_de_experiência"] = df["nível_de_experiência"].replace(senioridade)
df["nível_de_experiência"].value_counts()

nível_de_experiência
Sênior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
emprego_tipo= {
    "FT": "Tempo Integral",
     "PT": "Tempo Parcial",
     "FL": "Freelance",
     "CT": "Contrato"
}
df["tipo_de_emprego"]= df["tipo_de_emprego"].replace(emprego_tipo)
df["tipo_de_emprego"].value_counts()

tipo_de_emprego
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelance             16
Name: count, dtype: int64

In [ ]:
tamanho_da_empresa= {
    "S": "Pequeno",
    "M": "Médio",
    "L": "Grande"
}

df["porte_da_empresa"] = df["porte_da_empresa"].replace(tamanho_da_empresa)
df["porte_da_empresa"].value_counts()

porte_da_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [ ]:
df.head(5)

,ano_de_trabalho,nível_de_experiência,tipo_de_emprego,cargo_profissional,salário,moeda_do_salário,salário_em_usd,residência_do_funcionário,proporção_remota,local_da_empresa,porte_da_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Presencial,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Presencial,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Remoto,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Remoto,AU,Médio
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Remoto,US,Médio

In [ ]:
df.describe(include = "object")

,nível_de_experiência,tipo_de_emprego,cargo_profissional,moeda_do_salário,residência_do_funcionário,proporção_remota,local_da_empresa,porte_da_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Remoto,US,Médio
freq,77241,132563,17314,126140,119579,105312,119641,129561